body {
    background-color: lightgray;
    flex: auto;
}

.flexdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    order: 1;
}

.flexright {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    order: 2;
}